body {
    background-color:  rgb(96, 147, 181);
}

footer {
    background-color: rgb(74, 179, 107);
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
} 