body {
    background-color:  green;
}

footer {
    background-color: yellow;
    color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
} 